version: '3'
services:
  liquidsoap:
    image: savonet/liquidsoap:v2.1.2
    entrypoint: [ "/entrypoint.liq" ]
    restart: always
    container_name: liquidsoap
    depends_on:
      icecast:
        condition: service_started
      mpd:
        condition: service_started
{% if aws == "true" %}
      aws:
        condition: service_completed_successfully
{% endif %}
    volumes:
    - ~/radio_runtime:/data
    - ~/radio_runtime/entrypoint.liq:/entrypoint.liq
    networks:
    - radio-net

  icecast:
    image: vitiman/alpine-icecast:latest
    restart: always
    container_name: icecast
    networks:
    - radio-net

  mpd:
    image: vitiman/alpine-mpd:latest
    restart: always
    container_name: mpd
    entrypoint: [ "sh", "/entrypoint.mpd.sh" ]
    depends_on:
      icecast:
        condition: service_started
{% if aws == "true" %}
      aws:
        condition: service_completed_successfully
{% endif %}
    volumes:
    - ~/radio_runtime/music:/var/lib/mpd/music
    - mpd_playlists:/var/lib/mpd/playlists
    - mpd_database:/var/lib/mpd/database
    - ~/radio_runtime/entrypoint.mpd.sh:/entrypoint.mpd.sh
    networks:
    - radio-net

{% if aws == "true" %}
  aws:
    image: amazon/aws-cli:latest
    entrypoint: [ "bash", "/entrypoint.aws.sh" ]
    restart: on-failure
    container_name: aws
    environment:
      AWS_ENDPOINT: "{{ AWS_ENDPOINT }}"
      AWS_DEFAULT_REGION: "{{ AWS_DEFAULT_REGION }}"
      AWS_ACCESS_KEY_ID: "{{ AWS_ACCESS_KEY_ID }}"
      AWS_SECRET_ACCESS_KEY: "{{ AWS_SECRET_ACCESS_KEY }}"
      BUCKET: "{{ BUCKET }}"
    volumes:
    - ~/radio_runtime:/aws/data
    - ~/radio_runtime/entrypoint.aws.sh:/entrypoint.aws.sh
    networks:
    - radio-net
{% endif %}

volumes:
  mpd_playlists: {}
  mpd_database: {}

networks:
  radio-net: {}
