#!/usr/bin/env bash
while ! cat /data/track.txt; do
  sleep 1
done
ffmpeg \
  -re -f lavfi -i "movie=filename=$VIDEO_SOURCE:loop=0, setpts=N/(FRAME_RATE*TB)" \
  -thread_queue_size 2048 -i "$RADIO_URL" \
{% if track_output == "true" %}
  -vf drawtext="fontfile=/video/font.ttf: \
  textfile=/data/track.txt:reload=1: fontcolor=$fontcolor: fontsize=$fontsize: box=0: boxcolor=$boxcolor: \
  boxborderw=$boxborderw: x=($FFMPEG_X): y=($FFMPEG_Y)" \
{% endif %}
  -map 0:v:0 -map 1:a:0 \
  -map_metadata:g 1:g \
  -pix_fmt yuv420p -preset $QUAL -r $FPS -g $(($FPS * 2)) -b:v $VBR -crf $CRF \
  -acodec libfdk_aac -profile:a aac_he_v2 -ar 44100 -threads 6 -qscale:v 3 -b:a 512k -bufsize 2048k \
{% if youtube_protocol == "hls" %}
  -hls_time 2 -hls_list_size 4 -http_persistent 1 -method POST "https://a.upload.youtube.com/http_upload_hls?cid=$YT_TOKEN&copy=0&file=master.m3u8"
{% elif youtube_protocol == "rtmp" %}
  -f flv "rtmp://a.rtmp.youtube.com/live2/$YT_TOKEN" > /dev/null 2>&1
{% endif %}