[Unit]
Description=mpc track update
Wants=network-online.target
After=network-online.target



[Service]
User=root
Group=root
Type=simple
RestartSec=10
Restart=always
ExecStart=/bin/bash -c "docker exec --tty mpd mpc current | sed 's/\.mp3//' > /root/video/track.txt"

 [Install]
WantedBy=multi-user.target
